.mypy_cache
**/Makefile
**/Makefile.in
*.lo
*.la
*.o
src/imagination
target
**/.deps
**/.libs
*.swp
po/*.gmo
COPYING
INSTALL
doc/*/html
config.guess
config.log
config.sub
config.status
*.orig
aclocal.m4
autom4te.cache/
compile_commands.json
configure
depcomp
doc/*/html-build.stamp
doc/*/imagination.xml
imagination.desktop
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
po/Makefile.in.in
po/POTFILES
po/stamp-it
tags
tests/__pycache__/
